<div>
  <label for="statusInput">Status : </label>
  <label for="statusInput">{{ticket.status}}</label>
</div>

<div>
  <label for="areaInput">Area : </label>
  <label for="areaInput">{{ticket.area}}</label>
</div>

<div>
  <label for="descriptionInput">Description : </label>
  <label for="descriptionInput">{{ticket.description}}</label>
</div>

<div>
  <label for="descriptionInput">Customer : </label>
  <label for="descriptionInput">{{ticket.customer.name}}</label>
</div>

<div>
  <label for="descriptionInput">Created By : </label>
  <label for="descriptionInput">{{ticket.createdBy.name}}</label>
</div>

<div>
  <label for="descriptionInput">Assigned To : </label>
  <label for="descriptionInput">{{ticket.assignedTo.name}}</label>
</div>


-------------------------------------------------------------------------------
